/Registro.jasper
/Beca.jasper
/CaratulaDARE.jasper
/CroquisDomicilio.jasper
/PersonaEspecialidad.jasper
/ResumenCalificaciones.jasper
/Presentacion.jasper
/Asistencia.jasper
/ActaAsistencia.jasper
/FichaDefensa.jasper
/Firmas.jasper
